table {
    border-collapse: collapse;
    width: 100;
    border-left: 0;
    border-right: 0;
    border: 1px solid #c4dcf3;
}
th, td {
    padding: 10px;
}
th {
    background-color: #427fef;
    color: white;
}
tr:nth-child(odd) td {
    background-color: #eef7ff;
}
tfoot{
    text-align: right;
}